<%- include('../partials/header') %>



    <h3>Flight Listings</h3>
    <table id="sortable">
        <thead>
            <tr>
                <th>Airline</th>
                <th>Airport</th>
                <th>Flight Number</th>
                <th>Departure Date</th>
            </tr>
        </thead>
        <tbody>
            <% flights.forEach(f=> { %>
                <tr>
                    <td>
                        <%= f.airline %>
                    </td>
                    <td>
                        <%= f.airport %>
                    </td>
                    <td>
                        <%= f.flightNo %>
                    </td>
                    <td>
                        <%= f.departs %>
                    </td>
                    <td><a href="/flights/<%= f._id %>">more info</a></td>
                    <% }); %>
        </tbody>
    </table>


    <%- include('../partials/footer') %>